- var contents = [{"photo":'../../images/43690.jpg', "title":'International Space Station', "text":'Lorem Ipsum'}, {"photo":'../../images/43688.jpg', "title":'My Capsule', "text":'Lorem Ipsum'}, {"photo":'../../images/43698.jpg', "title":'My moon', "text":'Lorem Ipsum'},{"photo":'../../images/43690.jpg', "title":'International Space Station', "text":'Lorem Ipsum'}, {"photo":'../../images/43688.jpg', "title":'My Capsule', "text":'Lorem Ipsum'}, {"photo":'../../images/43698.jpg', "title":'My moon', "text":'Lorem Ipsum'}]

mixin card(content)
    .card.border-0
        img.card-img-top.img-responsive(src=content.photo)
        .card-body
            h5.card-title.h6= content.title
            p.card-text
                small= content.text

mixin controlers(id)
    a(class="carousel-control-prev", href=id, role="button", data-slide="prev")
        span( class=" arrow_carrot-left", aria-hidden="true")
        span(class="sr-only")=Previous
    a(class="carousel-control-next", href=id, role="button", data-slide="next")
        span(class="arrow_carrot-right", aria-hidden="true")
        span(class="sr-only")= Next

mixin indicators(length, id)
    ol.carousel-indicators
        - for(var i = 0; i < length; i++)
            - var active = i == 0 ? "active" : "";
                li(class=active, data-target=id, data-slide-to=i )

section.container.mt-5
    .row.carousel-desktop.d-none.d-sm-block
        .carousel.slide#cardCarousel(data-ride='carousel')
            .carousel-inner
                - for(var i = 0; i < contents.length; i++ )
                    if(i % 3 == 0)
                        - var active = i == 0 ? "carousel-item active" : "carousel-item"
                        div(class=active )
                            .row
                                - for( var k = i; k < (i + 3); k++)
                                    .col-4
                                        +card(contents[k])
            if(contents.length > 3 )
                +controlers("#cardCarousel")
    .row.carousel-mobile.d-block.d-sm-none
        .carousel.slide.px-5#cardCarouselMobile(data-ride='carousel')
            .carousel-inner
                .card-deck
                    - for(var i = 0; i < contents.length; i++ )
                        - var active = i == 0 ? "carousel-item active" : "carousel-item"
                        div(class=active )
                            +card(contents[i])
            +indicators(contents.length, "#cardCarouselMobile")
    